/* Datos personales: Ruben Diaz Zapico uo283204 */
/* Esquemas de posicionamiento del proyecto MotoGP-Desktop */

/*  Especificidad: 001 */
main {
    display: grid;                              /* Activa Grid */
    grid-template-columns: repeat(4, 1fr);      /* 4 columnas */
    grid-template-rows: auto repeat(3, 1fr);    /* 3 filas */
    gap: 1em;                                   /* Separaci칩n entre cartas */
    max-width: 60em;                            /* Ancho m치ximo del 치rea de juego */
}

/*  Especificidad: 002 */
main h2 {
    grid-column: 1 / -1;        /* ocupa todas las columnas */
    text-align: center;
}

/* Cron칩metro debajo del h2 */
/*  Especificidad: 002 */
main p {
    grid-column: 1 / -1;        /* ocupa todas las columnas */
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0 1em 0;
}

@media (min-width: 320px) and (max-width: 799px) {
    /* Especificidad: 001 */
    main {
        grid-template-columns: repeat(2, 1fr);      /* 2 columnas */
        grid-template-rows: auto repeat(6, 1fr);    /* 6 filas */
    }
}
