/* Datos personales: Ruben Diaz Zapico uo283204 */
/* Estilos generales del proyecto MotoGP-Desktop */

/* Especificidad: 001 */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd; /* Color por defecto */
}

/* Especificidad: 001 */
header {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    background-color: #1100ff; /* Color por defecto */
}

/* Especificidad: 001 */
h2, h3, h4, h5, h6 {
    font-family: 'Roboto', 'Times New Roman', Times, serif;
    color: #1100ff; /* Background-color hereda de body */
}

/* Especificidad: 010 */
.active {
    color: #f8cf40; /* Background-color hereda de header */
    text-decoration-line: underline;
}

/* Especificidad: 012 */
body > p:first-of-type {
    font-size: 0.8em;
}

/* Especificidad: 002 */
/* Especificidad: 001 */
header a, h1 {
    text-decoration-line: none;         /* Elimina el subrayado */
    color: #ffffff;                   /* Color base del enlace y h1, Background-color hereda de header */
    font-weight: bold;                  /* Destaca los enlaces */
}

/* Especificidad: 022 */
nav a:hover:not(.active) {           /* Cuando el usuario pasa el ratón por encima y no esta activo el enlace del nav */
    color: #f8cf40; /* Background-color hereda de header */
}

/* Especificidad: 022 */
nav a:hover:is(.active) {           /* Cuando el usuario pasa el ratón por encima y esta activo el enlace del nav */
    text-decoration-line: underline;    /* Subrayado al pasar el ratón */
}
